# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://ozhmtrecqosmtjtcdyxu.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im96aG10cmVjcW9zbXRqdGNkeXh1Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODE1MTEwMDgsImV4cCI6MjA5NzA4NzAwOH0.qB-4Jgv3E9FVJvqMaWrsPa9N4YfTBNWbXAAtJgIVkBs
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im96aG10cmVjcW9zbXRqdGNkeXh1Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MTUxMTAwOCwiZXhwIjoyMDk3MDg3MDA4fQ.qEpW3eLLJhPJg6HjxnlSu0KpzIqbQOFP02IOujM9gHA

# Google Analytics
NEXT_PUBLIC_GA_ID=

# App
NEXT_PUBLIC_APP_URL=http://localhost:3000
